@font-face {
    font-family: lalezar;
    src: url("./assets/fonts/Lalezar-Regular.ttf") format("ttf");
}

body {
    font-family: lalezar !important;
    margin: 0;
    padding: 0;
    direction: rtl;
    background-color: #212121;
}